<a href="https://colab.research.google.com/github/Hyeoni-729/python_example/blob/master/20250512_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* colab 좋은점 : 시각화가 잘 되어 있고, 설치가 필요x, 학습을 빠르게
* .py 좋은점 : 실무화

# colab
- google id만 있으면 ram을 12G, disk를 100G나 되는 원격 컴퓨터를 무료로 준다.
- 여기에는 Python 환경이 모두 설정이 되어 있어서 별도의 설정이 필요없다.
- google drive가 자동 연동되어서 별도로 다운로드 해서 저장할 필요없다.
- Ctrl + Enter : 현재 셀 실행
- Alt + Enter : 현재 셀 실행 + 아래 셀 하나 만들기

# 마크업과 마크다운
```
- HTML은 웹 브라우저나 고급 문서를 표현
<h1>hello world</h1>
<h2>hello world</h2>
<p>hello world</p>

- Markdown은 서식이 필요치 않은 문서를 표현
# hello world
## hello world
```
## 마크 다운 문법(우리가 사용할 문법)
```
# hello world
## hello world
### hello world

- hello world
- hello world
- hello world

1. hello world
2. hello world
3. hello world
```

# range

In [ ]:
l = [10, 20, 30, 40]
l # 이렇게 마지막 라인에 한하여 print를 안해도 출력 가능

[10, 20, 30, 40]

In [ ]:
range(0, 10)
# [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 왜 이렇게 안 나오는 걸까.

range(0, 10)

In [ ]:
# range()는 python 2.x에서는 list타입이였다.
type(range(0, 10))

range

In [ ]:
# 파이썬은 속도를 올리기 위한 작업을 매 버전마다 해왔습니다.
# 그래서 최종목표는 c의 속도를 따라잡는 것.
# range(100000000) 이래 데이터를 생성한다고 생각해보자.
# 0 ~ 100000000에 숫자를 모두 메모리에 올려야 한다.
# xrange()라는 것을 만들어서 이를 해결했다.
# xrange는 숫자를 생성하지 않고, first, stop, step 값으로 호출 할 때 하나씩 생성 하는 방식을 새롭게 도입
# xrange가 3.x로 오면서 range가 된 것

In [ ]:
# range()의 인덱싱
range(100, 1000, 100)[3]

400

In [ ]:
# range()의 슬라이싱
range(100)[1:10]

range(1, 10)

In [ ]:
# range의 step 음수 값
list(range(100, 9, -10))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# function

In [ ]:
# function이라는 것이 왜 필요한지
# 1번째 이유

def hello():
    x = 10 # 이 코드가 반복되니 이름을 hello라고 하고, 이 코드 자리에 hello를 놓자 -> 함수(function)
    y = 20
    print(x + y)

hello()
a = 10

hello()
b = 20

hello()
a + b

hello()
a - b

hello()

In [ ]:
# 2번째 이유
# 수만줄의 코드도 함수로 쌓여있으면 구조를 파악하기 쉽다.
# ex)
# 땅파기()
# 땅다지기()
# 상하수도설치()
# 벽돌쌓기()
# 지붕올리기()
# 내부인테리어()

In [ ]:
# 3번째 이유
# 알지 않아도 되는 코드를 들여다보지 않을 수 없다
# -> 추상화 : 복잡한 내부 구현을 숨기고 필요한 필요한 기능만 외부에 노출시켜
# 코드를 더 이해하기 쉽고 사용하기 편리하게 만드는 개념
# ex) 운전 할 때 패달을 밟는다 해서 엔진을 뜯어볼 필요가 없다.
# ex)
# 땅파기()
# 땅다지기()
# 상하수도설치()
# 벽돌쌓기()
# 지붕올리기()
# 내부인테리어()

In [ ]:
def hello():
    x = 10
    y = 20
    return x + y

In [ ]:
# 파라미터와 아규먼트
def xysum(x, y): # 함수를 정의
    return x + y
xysum(10, 20) # 함수를 호출

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실행할 때)
def xysum(x, y): # 함수를 정의 / x와 y는 파라미터
    return x + y
xysum(10, 20) # 함수를 호출 / 10과 20이 아규먼트

In [ ]:
def xysum(x, y): # 함수를 정의
    return x + y # 나를 호출한 곳에 그대로 이 값을 넣어줘라
result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60) # 함수를 호출
# return : result = 10 + 20 + 30 + 40 + 50 + 60

In [ ]:
def xysum(x, y):
    print(x + y)
result = xysum(10, 20) + xysum(30, 40) + xysum(50, 60)

30
70

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [ ]:
# NoneType은 print를 써야한다
def a(x, y):
    z = x + y
print(a(10, 20))

None

In [ ]:
# 위 코드 = 현재 코드
def a(x, y):
    z = x + y
    return None
print(a(10, 20)) # ->print(None)

None

In [ ]:
# 파라미터가 있는 함수
def hello(a):
    return a

In [ ]:
# 파라미터가 없는 함수
def hello():
    return 'hello world'

In [ ]:
# 리턴값이 있는 함수
def add(a, b):
    return a + b

In [ ]:
# 리턴값이 없는 함수
def add(a, b):
    print(a + b)

In [ ]:
# 문제 1
# 2x + 15 방정식, x는 10이라고 주어졌을 때, y값이 얼마인지 구하는 함수를 만드세요
def solution(x):
    y = 2 * x + 15
    return y

solution(10)

35

In [ ]:
# 실제 모의 주식 그래프
import random
i = [15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
result = []
for j in i:
    result = result + [j + random.randint(-5, 5)]
result

[10, 14, 19, 16, 19, 24, 22, 29, 32, 34]

In [ ]:
# 문제 2
# [10, 20, 30] + [1, 2, 3]이라고 했을 때 두 리스트를 요소별로 더하는 함수를 만드세요.
# def solution(a, b):
#     result = []
#     for i in range(len(a)): range는 감점이 되는 경우가 많다
#         result.append(a[i] + b[i])
#     return result

# print(solution([10, 20, 30], [1, 2, 3]))
def solution(a, b):
    for i, j in enumerate(a):
        a[i] = j + b[i]
    return a
solution([10, 20, 30], [1, 2, 3])

# def solution(a, b):
#     return list(map(sum, (zip([10, 20, 30], [1, 2, 3]))))
# solution([10, 20, 30], [1, 2, 3])

[11, 22, 33]

In [ ]:
# 문제 3
# 리스트의 모든 요소에 특정 숫자를 곱하는 함수를 만드세요
# ex) [1, 2, 3, 4] * 2 = [2, 4, 6, 8]
def solution(matrix, multiplier):
    result = []
    for i in matrix:
        result.append(i * multiplier)
    return result

print(solution([1, 2, 3, 4], 2))

# 위 코드보다 가독성이 떨어짐
# def solution(matrix, multiplier):
#     return [i * multiplier for i in matrix]
# print(solution([1, 2, 3, 4], 2))

[2, 4, 6, 8]

In [ ]:
s = []
for i in range(1, 10, 2):
    s.append(i)
s

# 같은 결과
# [i for i in range(1, 10, 2)]

[1, 3, 5, 7, 9]

In [ ]:
# 더러운 코드 (code smell) 사용 X
# 가독성이 떨어짐
[f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
# 문제 4
# 프로그래머스(카카오 코딩 테스트 보는 공간)에 문제 하나 풀어보시오.
# https://school.programmers.co.kr/learn/courses/30/lessons/181928
def solution(num_list):
    a, b = '', ''
    for i in num_list:
        if i % 2 == 0:
            a += str(i)
        else:
            b += str(i)
    answer = int(a) + int(b)
    return answer
solution([3, 4, 5, 2, 1])

393

In [ ]:
# 파라미터에 기본값이 정해져 있는 경우
def add(x = 10, y = 20):
    return x + y
add()

30

In [ ]:
# 지역변수, 전역변수
x = 10
def hello():
    print(x) # 밖에 있는 변수는 읽기 가능
hello()

10

In [ ]:
x = 10
def hello():
    x += 1 # 밖에 있는 변수는 수정 불가능
hello()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
x = 10 #(전역변수)
def hello():
    x = 100 # 밖에 있는 변수 수정 불가능(지역변수)
    #return None
hello() # return None으로 반환 하는 즉시 지역변수는 휘발된다
print(x)

10

In [ ]:
x = 10
def hello(input_x):
    input_x += 10
    return input_x
x = hello(x)
print(x)

20

In [ ]:
# 아래 코드는 대부분 안 좋은 코드
x = 10
def hello():
    # global x -> 쓰면 안된다
    x += 100
hello()
print(x)

In [ ]:
def add(a, b):
    z = a + b
    print(locals()) # locals -> 메모리 효율 최적화에 쓰인다
    return z
add(10, 20)

{'a': 10, 'b': 20, 'z': 30}

30

In [ ]:
print(print('hello')) # hello는 print라는 함수의 아규먼트
# print의 return 값은 None

hello
None

In [ ]:
# hello든 print든 변수. 함수의 이름은 변수.

In [ ]:
a = print
a('hello world')

hello world

In [ ]:
l = [a, a, a, a, a]
l[0]('hello')

hello

# 변수

In [ ]:
a = 10
b = a
c = b
c
# 화살표의 방향은 a->10, b->10, c->10

10

In [ ]:
b = 100
c

10

In [ ]:
a = [1, 2, 3]
b = a
id(a), id(b)
a.append(10)
b

[1, 2, 3, 10]

# type, dir, id
- type은 앞으로도 자주 사용된다. 왜냐하면 우리가 앞으로 사용 할 데이터 자료형은 기본 자료형이 아닌 경우가 많기 때문이다.
- dir은 해당 자료형에 있는 속성들을 파악하기 좋다.
- id는 해당 자료형이 무엇을 가리키고 있는지 확인하기 좋다.

In [ ]:
a = [10, 20, 30 ,40]
print(type(a)) # print와 print를 안 쓰는 것의 차이 :

<class 'list'>

In [ ]:
print(type(hello))

<class 'function'>

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
print(a)

10

In [ ]:
# 타입 확인이 이만큼 중요하다는 것을 보여주기 위한 예제 2개
# ex1) 10으로 보인다고 해서 int형이라고 생각하지 않기
import numpy as np
data = np.array(1)
print(data)
print(type(data))

1
<class 'numpy.ndarray'>

In [ ]:
# ex2) 타입을 확인해야 하는 이유는 기본 연산이 다르기 때문이다.
print([1, 2, 3] + [4, 5, 6])
print(np.array([1, 2, 3] + np.array([4, 5, 6])))

[1, 2, 3, 4, 5, 6]
[5 7 9]

In [ ]:
l = [1, 2, 3, 4]
dir(l) # 메서드 + 멤버

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# 빌트인 펑션이 중요한 이유는 앞으로 만날 자료형들은 새롭게 만날 자료형들이라서.
# ex)
import numpy as np
data = np.array([[10, 20, 30], [40, 50, 60]])
dir(data)
# 아래 목록만 봐도 어떤 자료형인지 짐작 할 수 있고 원하는 메서드를 바로 발견할 수 있다.

print(data.T)

[[10 40]
 [20 50]
 [30 60]]

In [ ]:
# id 설명
a = 10
b = a
c = b
# 화살표 방향
id(a), id(b), id(c)
# id는 해당 변수가 가리키고 있는 최종 목적지

(10751144, 10751144, 10751144)

In [ ]:
a = 10
b = 10
id(a), id(b)
# 다른 언어에서는 이 값이 다르다
# 파이썬에서는 메모리 효율을 높이기 위해서 자주 사용되는 숫자들만 같은 값이 나오게 해놨다(캐싱)

(10751144, 10751144)

In [ ]:
a = 10000
b = 10000
id(a), id(b)

(139805578813264, 139805578819600)

# print와 print를 안하는 것의 차이

In [ ]:
class Customint:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'hello world'
    def __len__(self):
        return 100

In [ ]:
a = Customint()
a

hello

In [ ]:
print(a)

hello world

In [ ]:
a = 10
print(type(a))
print(a)

<class 'int'>
10

In [ ]:
class Customint:
    def __repr__(self):
        return 'hello'
test = Customint()
test
print(test)

hello

In [ ]:
# print(o) -> 해당 인스턴스에 __str__ 호출
# print(x) -> 해당 인스턴스에 __repr__ 호출

In [ ]:
a = 10
dir(a)
# a.__repr__() -> print(x) 출력했을 때 실행되는 함수
# a.__str__() -> print(o) 출력했을 때 실행되는 함수

'10'

# python built-in functions

* 링크: https://docs.python.org/3/library/functions.html

In [ ]:
# 자주 사용하는 functions(기능)
abs
all
any
bin
enumerate
len
format
input
range

sorted
reversed

filter
map
zip

# isinstance -> 주석 두개는 class파트에서 진행
# issubclass
iter
next

locals
globals

max
min
sum

In [ ]:
# 자료형을 만드는 built-in functions
# int
# float
# str
# complex
# list
# tuple
# dict
# set

In [ ]:
abs(-10) # 절대값으로 바꿔줌
all([True, True, False]) # 안에 값이 다 True여야 True
any([True, True, False]) # 안에 값이 하나라도 True라면 True
bin(10) # 2진수로 바꿔준다, 알고리즘 문제에서 가끔 출제
# enumerate
# len
# format
# input
# range

10